@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
:root{
    /* Primary Colors */
    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: rgb(56, 41, 224);
    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);

}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html, body{
    font-size:16px;
}
body{
    max-width: 100vw;
    height: 100vh;
    background: var(--Pale-blue);
}
a{
    text-decoration: none;
}
p{
    font-size: 16px;
}
.summary-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--Pale-blue);
}
.main{
    width: 50%;
    background-color: white;
    border-radius: 9px;
}
.image-container img{
    width: 100%;
     border-top-left-radius: 10px;
     border-top-right-radius: 10px;
}
.order {
padding: 1rem;
text-align: center;
}
.order h2 {
    padding-bottom: 1rem;
}
.order p span{
 display: block;
}
.Annualplan{
    text-align: center;
    padding: 1rem;
    margin: 1rem 3rem;
    background-color: rgba(220, 220, 220, 0.168);
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-size: 18px;
}
.icon{
    display: flex;
}
.icon img{ 
   left: 5%;
    width: 30%;
    padding-right: .5rem;
}
.icon span {
    display: block;
   
}
.change a{
    text-decoration: underline;
    cursor: pointer;
}
button{
    text-align: center;
    padding: 1rem;
    align-self: center;
    margin: 2.8rem;
    width: 80%;
    outline: none;
    border-radius: 1rem;
    border: none;
    background-color: var(--Bright-blue);
    color: white;
    font-size: 1rem;
    box-shadow: rgb(56, 41, 224) 0px 25px 20px -20px;
    cursor: pointer;
}
button:hover{
    background-color: rgb(138, 43, 226);
    transition: all 3s ease;
}
.cancel{
    text-align: center;

font-size: 1.5rem;
padding-bottom: 1rem;
cursor: pointer;
color: gray;
}

/********* MEDIA SCREEN **********/
@media screen and (max-width: 700px) {

    .main{
        width: 100%;
        background-color: white;
        border-radius: 9px;
    }
}